# Python
*.pyc
__pycache__/
db.sqlite3
venvgp/
venv/
.venv/
env/
**/env/
**/env/bin/

# Node
node_modules/
/build
.env

# System files
.DS_Store

# Media and user uploads
media/
/media
/static

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Django logs
*.log

# Distribution / packaging
*.egg-info/
dist/
build/
eggs/
.eggs/