/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styles */
@layer base {
  body {
    background-color: #111111;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    cursor: crosshair;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.4s;
  }
  
  #app {
    min-height: 100vh;
    font-weight: normal;
  }
}

/* Components */
@layer components {
  /* Add component styles here */
}

.content-transition {
  animation: simpleRise 0.95s ease-out forwards;
}

@keyframes simpleRise {
  0% { 
    opacity: 0; 
    transform: translateY(20px);
  }
  100% { 
    opacity: 1; 
    transform: translateY(0);
  }
}